





/*
#col1 {
	background-color: red;
}

#col2 {
	background-color: blue;
}

#col3 {
	background-color: green;
}*/

table {
	text-align: center;

	tr:hover {
		/*font-size: 105%;
		font-weight: bold;
		transition: font-size 300ms linear;
		transition: font-weight 300ms linear;*/
	}
}

.flag-icon {
	width: 30px;
}