:root {
  // these colours cannot be placed in _variables.scss because they will be compiled into hardcoded values in the css file. The browser requires these colors as variables.
  --text3:#888;
}



/*@import "./resets";*/
/*@import "./header"*/



/* make sure you have a local installation of BS4 inside bootstrap/scss/bootstrap/ */
/* should custom-variables be imported before or after bootstrap/scss/variables ? */

@import "bootstrap/scss/functions";
@import "custom-variables"; /* comment this out if you wish to see website with BS4's default styling */
@import "bootstrap/scss/variables";
@import "bootstrap/scss/bootstrap";



body {
  background-color: myColor(bg1);
  color: myColor(text3);
}


h2 {
  font-size: 20px;
  font-weight: bold;
}
  

h1, h2, h3, h4, h5, h6 {
  /*color: myColor(text1);*/
}

.btn {
  font-weight: bold;
  border-radius: 15px;
  margin: 5px; /*Remove. Vertical central align instead*/
}

.follow-btn.not-following {
  width: 105px;
}
.follow-btn.following {
  width: 105px;
  &:before {content: "Following"}
  &:hover {
    background-color: #AA0000;
    border: 0px;
    transition: background-color 200ms linear;
    &:before{
      content: "Unfollow";
    }
  }
  span {display: none}  
}


.language-menu {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

  .lang-choice {
    filter: grayscale(50%);
    opacity: 0.8;
    width: 100px;
    margin: 2px;
    margin-bottom: 10px;
    /*line-height: 75px;*/
    font-size: 18px;
    /*position: relative;*/

    &:hover {
      filter: grayscale(30%);
      opacity: 1;
      cursor: pointer;
    }

    &.active {
      filter: grayscale(0%);
      opacity: 1;
    }

/*    .optionTxt {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }*/
    .lang-flag {
      width: 80%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .lang-title {
      display: block;
      font-size: 15px;
      font-weight: bold;
    }
  }
}


$postHeight: 100px;
$flagWidth: 36px;

.sentence-post {
  /*height: 200px;*/
  min-width: 300px;
  max-width: 400px;

/*  border-top: 1px solid myColor(text3);
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;*/
  border-radius: 0px;
  margin-top: 0px;
  margin-bottom: 15px;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  a {
    text-decoration: none;
  }

  &:hover {
    background-color: myColor(bg2);
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .user-avatar {
    width: 60px;
    height: $postHeight;
    float: left;
    text-align: center;

    display: inline-block;
    position: relative;

    .avatar {
      border-radius: 50%;
      width: 47px;
      margin-top: 10px;
      /*margin: 5px;*/
    }

    .flag-overlay {
      /*background-color: white;*/
      position: absolute;
      top: 50px;
      left: 18px;
      z-index: 1;

      .flag-icon {
        width: 30px;
      }
    }
  }

  .main {
    height: $postHeight;

    strong {
      color: myColor(text1);
      
    }

    small {
      color: myColor(text3);
    }

    p {
      color: myColor(text2);
      
    }
  }

  .footer {
    display: flex;
    justify-content: space-around;


    .icon {
      text-align: center;
      padding: 4px 15px 4px 15px;
      margin-bottom: 5px;


      color: myColor(text3);
      transition: all .4s ease-in-out;

      &:hover {
        color: myColor(text1);
        transform: scale(1.2);
      }

      i {

      }
    }






    .fa-thumbs-up.active {
      color: #5F5;
    }

    .fa-thumbs-down.active {
      color: #F66;
    }

    .fa-bookmark.active {
      color: gold;
    }
  }
}


.sentence-summary {

  height: 80px;
  background-color: yellow;
  margin-bottom: 10px;
  
  box-sizing: border-box;
  display: grid;
  grid: 100% / auto auto auto;
  grid-template-columns: 40px 40px 40px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-auto-rows: 40px;

  div {
    display: inline-block;
  }
  .stat {
    width: 40px;
    text-align: center;
    /**/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      display: block;
      font-size: 10px;
      padding-top: 8px;
    }

    &.bookmarked {
      background-color: red;
    }
    &.upvotes {
      background-color: blue;
    }
    &.stat.downvotes {
      background-color: pink;
    }
  }
  .main {
    background-color: green;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}



#publish-sentence {

  /*$maxH: 200px;*/

  margin-top: 20px;
  margin-bottom: 60px;

  /*background-color: #2f2;*/
  /*height: $maxH * 1;*/

  textarea {
    width: 90%;
    background-color: myColor(bg1);
    font-size: 50px;
    /*height: $maxH * 0.8;*/
    &::placeholder {
      color: myColor(text3);
    }
    &:focus {
      background-color: myColor(bg1);
      color: myColor(text1);
    }
  }
  button {
    float: right;
  }
}

#char-count-div {
  /*background-color: #ccf;*/
  width: 100px;
  float: left;
  margin-left: 10px;
}

#top-contributors-table,
#popular-languages-table {
  text-align: center;

  .flag-icon {
    width: 30px;
  }
}

.members-container {
  background-color: yellow;
}

.member-card {

  min-width: 400px;

  /*width: 40%;*/

  background-color: pink;
  margin-bottom: 5px;

  .profile-img {
    width: 70px;
  }

  .flag-icon {
    width: 30px;
  }

  .follow-btn {
    float: right;
  }
}

/*-----------------------------------------------------------------------------------*/

.member-card-alt {
  width: 150px;
  flex-grow: 1;

  margin: 3px;

  text-align: center;
  
  .card-header{
    position:relative;
    padding: 0;
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;

    $r: 20px;

    .flag {
      border-radius: 50%;
      position: absolute;
      top: 5px;
      left: $r + 5px;
      width: $r*2;
      height: $r*2;
      border: 3px solid rgba(255, 255, 255, 1);
      -webkit-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%);
    }
  }

  .card-body{
      position:relative;

      h5 {
        font-size: 14px;
      }

      p {
        font-size: 10px;
      }
  }

  .card-text{
      font-weight:300;
      font-size:15px;
  }
}

/*----profile-setup-form---------------START-----------------------------------------------------------------------------------------------------------*/



/*.modal {
  background-color: #f44;
}
.modal-dialog {
  background-color: #44f;
}
.modal-content {
  background-color: #4f4;
}
.modal-header {
  background-color: #0f2;
}
.modal-title {
  background-color: #62f;
}
.modal-body {
  background-color: #0ff;
}
.modal-footer {
  background-color: #0f0;
}
.tab {
  background-color: blue;
}
.steps {
  background-color: yellow;
}*/




#profileSetupModal {

  .modal-content {
    width: 500px;
    height: 650px;
  }

  .modal-header {
    padding: 0px;
    position: relative;

    .modal-title {
      padding:10px 5px 5px 20px;
    }

    button.close {
      margin: 0;
      padding: 0;
      position: absolute;
      right: 5px;
      font-size: 30px;
      color: #C0C0C0;
    }
  }

  .modal-body {
    position: relative;
    padding: 0px;

    .tab {
      display: none; /* Hide all steps by default: */

      box-sizing: border-box;
      padding: 10px 10px 30px 10px;

      text-align: center;

    }

    .steps {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
    }
  }

  h1 {
    text-align: center;  
  }

  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
  }

  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }

  button {
    margin-top: 20px;
  }

  button:hover {
    /*opacity: 0.8;*/
  }

  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #C0C0C0;
    border: none;  
    border-radius: 50%;
    display: inline-block;
  }

  .step.active {
    opacity: 0.5;
    background-color: $primary;
  }

  /* Mark the steps that are finished and valid: */
  .step.finish {
    opacity: 1;
    background-color: $primary;
  }
}

#genderStep {

  .gender-choice {
    display: inline-block;

    width: 40%;
    text-align: center;

    i {
      font-size: 200px;
      margin: 30px;
      opacity: 0.3;

      transition: all 0.5s ease-in-out;
      &:hover {
        opacity: 0.8;
      }
    }

    span {
      display: block;
    }

    &.male i {
      color: myColor(male2);
    }
      

    &.female i {
      color: myColor(female2);
    }

    &.active {
      i {
        opacity: 1;
      }
    }
  }
}

#bdayStep {

/*  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
*/
/*  text-align: center;
  justify-content: center;

  select {
    width: 30%;
    float: left;
    margin: 3px;
  }*/

}




/*

UNCOMMENT THIS FOR TESTING

div {
  background-color: red;
  div {
    background-color: blue;
    div {
      background-color: green;
      div {
        background-color: grey;
        div {
          background-color: yellow;
          div {
            background-color: pink;
          }
        }
      }
    }
  }
}*/

.spinner {
  font-size: 30px;
  margin-top: 20px;
  display: none;
}















/*
 *
 *
 *                                   LAYOUT
 *
 *
 *
 */







$left-column-width-with-titles: 280px;
$left-column-width-icons-only: 50px;
$center-column-min-width: 450px;
$center-column-max-width: 600px;
$right-column-min-width: 300px;

$marginLeft: 30px;

/*$breakpoint1: $left-column-width-with-titles + $center-column-min-width + $right-column-min-width;*/
$breakpoint1: 1300px;
$breakpoint2: $left-column-width-icons-only + $center-column-min-width + $right-column-min-width + ($marginLeft*2);

#column-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#left-column {
  background-color: lightblue;
  position: sticky;
  top: 0;
  align-self: flex-start;

  width: $left-column-width-with-titles;
  flex-shrink: 0;
}#center-column {
  background-color: pink;
  min-width: $center-column-min-width;
  max-width: $center-column-max-width;
  flex-grow: 1;
  margin-left: $marginLeft;
  margin-right: 1px;
}#right-column {

  background-color: lightgreen;

  position: sticky;
  top: 0;
  align-self: flex-start;

  max-width: 500px;
  display: flex;
  flex-wrap: wrap;

  margin-left: $marginLeft;
  margin-right: 10px;
}


#right-column div {
  min-width: $right-column-min-width;
  min-height: 200px;
  flex-grow: 1;
}


#left-column {

  .profile {
    text-align: center;

    .avatar {
      margin-top: 30px;
      margin-bottom: 10px;
      vertical-align: middle;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    .profile-dropdown {
      padding-bottom: 50px;
    }
  }


  .menu-link {
    color: white; /* this is being overridden >:( */
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    
    display: flex;
    height: 45px;
    line-height: 45px;
    margin-bottom: 2px;
    
    &:hover {
      background-color: red;
      cursor: pointer;
    }
    
    .icon {
      width: 30%;
      text-align: center;
    }
    .title {
      width: 70%;
      text-aling: left;
      padding-left: 10px;
    }
  }

  .footer-links {
    margin-top: 40px;
    font-size: 14px;
    padding: 10px;
    text-align: center;

    a {
      padding-right: 15px;
    }
  }
}

@media screen and (max-width: $breakpoint1) {  
  #left-column {
    width: $left-column-width-icons-only;

    .profile {
      display: none;
    }

    .side-menu {
      .title {
        display: none;
      }
      .icon {
        width: 100%;
        text-align: center;
      }
    }

    .footer-links {
      display: none;
    }
  }
}

@media screen and (max-width: $breakpoint2) {
  #right-column {
    display: none;
  }
}













