:root {
  // these colours cannot be placed in _variables.scss because they will be compiled into hardcoded values in the css file. The browser requires these colors as variables.
  --text3:#888;
}



/*@import "./resets";*/
/*@import "./header"*/



/* make sure you have a local installation of BS4 inside bootstrap/scss/bootstrap/ */
/* should custom-variables be imported before or after bootstrap/scss/variables ? */

@import "bootstrap/scss/functions";
@import "custom-variables"; /* comment this out if you wish to see website with BS4's default styling */
@import "bootstrap/scss/variables";
@import "bootstrap/scss/bootstrap";



body {
  background-color: myColor(bg1);
  color: myColor(text3);
}
  

h1, h2, h3, h4, h5, h6 {
  /*color: myColor(text1);*/
}


.language-menu {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;

  .optionContainer {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 18px;
    position: relative;

    &:hover {
      filter: grayscale(100%);
    }

    .optionTxt {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}




.sentence-post {
  border-top: 1px solid myColor(text3);
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

  &:hover {
    background-color: myColor(bg2);
    cursor: pointer;
  }

  .flag-icon {
    max-width: 60px;
    height: auto;
    float: right;
    margin-top: 5px;
  }
  
  .header {
    margin-top: 2px;

    strong {
      color: myColor(text1);
    }

    small {
      color: myColor(text3);
    }
  }

  .body {
    margin-top: 0px;
    margin-bottom: 15px;
    margin-right: 0px;
    margin-left: 0px;
    color: myColor(text2);
  }

  .footer {
    margin-bottom: 15px;

    i {
      /*background-color: yellow;*/
      padding: 3px; /* makes focus area larger; easier to click */
      width: 20px;
      color: myColor(text3);
      transition: all .2s ease-in-out;

      &:hover {
        color: myColor(text1);
        transform: scale(1.9);
      }
    }

    i + i {
      margin-right: 15%;
    }

    .fa-thumbs-up.active {
      color: #5F5;
    }

    .fa-thumbs-down.active {
      color: #F66;
    }

    .fa-bookmark.active {
      color: blue;
    }
  }
}



.post-a-sentence {
  textarea {
    background-color: myColor(bg1);
    font-size: 50px;
    height: 200px;
    &::placeholder {
      color: myColor(text3);
    }
    &:focus {
      background-color: myColor(bg1);
      color: myColor(text1);
    }
  }
  button {
    float: right;
  }
}