


















.language-menu {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
}

.language-menu .optionContainer {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 18px;
  position: relative;
}


.language-menu .optionContainer .optionTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.language-menu .optionContainer:hover {
	filter: grayscale(100%);
}