.profile-nav {
  /*display: flex;*/
  /*flex-direction: column;*/
  margin-right: 50px;
  /*background-color: seagreen;*/
  cursor: pointer;
}
.section-tab {
  padding: 10px;
}
.section-tab:hover {
  background-color: gold;
  /*display: block;*/
}
.section-pane {
  display: none;
  padding: 20px;
}
.section-pane.active {
  display: block;
  /*background-color: seagreen;*/
}





i {
  /*font-size: 48px;
  color: lightblue;
  text-shadow: 2px 2px 4px #000000;*/
  cursor: pointer;
  color: #A8A8A8;
}

i:hover {
  color: orange;
}


