.profile-nav {
  /*display: flex;*/
  /*flex-direction: column;*/
  margin-right: 50px;
  /*background-color: seagreen;*/
  cursor: pointer;
}
.section-tab {
  padding: 10px;
}
.section-tab:hover {
  background-color: gold;
  /*display: block;*/
}
.section-pane {
  display: none;
  padding: 20px;
}
.section-pane.active {
  display: block;
  /*background-color: seagreen;*/
}


